* {
    margin: 0;
    padding: 0;
    font-family: 'Saira Semi Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    background: fixed linear-gradient(#000 ,#43434d);
}

#principal {
    color: aliceblue;
    background-color: #000829;
    text-align: center;
    margin: 0 3vw;
    min-height: 100vh;
}

/* Area superior do site */
#cabecalho{
    color: aqua;
    background-color: #00051b;
    text-align: center;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    text-decoration: underline #005555;
}

/* Menu */
.botao {
    background-color: #092A5E;
    padding: 2px 20px;
    border-radius: 100px;
    color: aqua;
    border: 2px solid #fff;
    font-size: 1.5vw;
    transform: translatey(1.5vw);
}
#newPost{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #43434dee;
    position: absolute;
}
#newPost fieldset{
    color: aqua;
    background-color: #000;
    text-align: center;
    margin: 30vh auto;
    width: 330px;
}

/* Area do conteudo */
#feed{
   min-height: 82vh;
}

/* Posts */
.postText{
    overflow: hidden;
    margin: 1% 1%;
    background-color: #00000044;
    border-radius: 5px;
    width: 98%;
    max-height: 19.5vw;
    padding: 1% 1% 0;
    box-sizing: border-box;
    text-align: justify
}

.postImg{
    margin: 1.5% 1%;
    background-color: #00000044;
    border-radius: 5px;
    width: 98%;
    height: 20vw;
    padding: 1% 1% 1.5%;
    box-sizing: border-box;
    text-align: justify
}

.postImg figure{
    float: left;
    height: 100%;
    aspect-ratio: 6/3;
    margin: 0.2vw 1vw 0 0;
    overflow: hidden;
}

.postImg figure img{
    height: 100%;
    width: 100%;
}

.postImg .tituloDescricao {
    font-size: 1.5vW;
    height: 16vw;
}
.postText .tituloDescricao {
    font-size: 1.5vW;
}

.tituloDescricao h2 {
    text-decoration: underline;
} 

.postImg a {
    text-decoration: none;
    color: aliceblue;
}

.postText a {
    text-decoration: none;
    color: aliceblue;
}

.data {
    border-top: 1px solid #7fffd4;
    border-width: 1px 0 0;
    color: #ffd700;
    font-size: 1.7vW;
}

#rodape {
    background-color: #00051b;
    color: aliceblue;
    text-align: center;
    padding: 1vw;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
